 .myheading {
   font-weight: 700;
   font-family: "Merriweather", serif;
   margin-right: 20px;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   display: -webkit-flex;
   display: flex;
   text-shadow: "";
   margin-bottom: 1.8em;
   margin-top: 2.6em;
   border-radius: 2px;
   padding-left: 0.2em;
   padding-right: 0.2em;
   transition: box-shadow .5s;
 }

 /* body {
   background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
   color: #514B64;
   min-height: 100vh;
 } */

 code {
   background: #fff;
   padding: 0.2rem;
   border-radius: 0.2rem;
   margin: 0 0.3rem;
 }